In [3]:
import data_prep

This notebook currently doesn't do much and could be just a Python function. However, for experimenting with different feature engineering options, it could be convenient to use a notebook and easily plot and print things.

In [5]:
data_prep.stack_data(prefix='Polaris')

['/Users/amakaokafor/Desktop/wait_time_analysis/ANL-ALCF-DJC-POLARIS_20220809_20221231(1) 2.csv', '/Users/amakaokafor/Desktop/wait_time_analysis/ANL-ALCF-DJC-POLARIS_20230101_20231130 2.csv', '/Users/amakaokafor/Desktop/wait_time_analysis/ANL-ALCF-DJC-POLARIS_20240101_20241231.csv']
/Users/amakaokafor/Desktop/wait_time_analysis

,JOB_NAME,COBALT_JOBID,MACHINE_NAME,QUEUED_TIMESTAMP,QUEUED_DATE_ID,START_TIMESTAMP,START_DATE_ID,END_TIMESTAMP,END_DATE_ID,USERNAME_GENID,...,IS_SUBBLOCK_ONLY,IS_MULTILOCATION_ONLY,IS_MULTILOCATION_SUBBLOCK,IS_CONSECUTIVE_ONLY,IS_SINGLE_ONLY,IS_NO_TASKS,IS_OTHER,OVERBURN_CORE_HOURS,IS_OVERBURN,ALLOCATION_AWARD_CATEGORY
0,314424.polaris,0,polaris,2022-08-01 01:04:53,20220801,2022-08-01 01:04:53,20220801,2022-08-01 01:36:01,20220801,3.086128e+13,...,0,0,0,0,0,0,0,0.0,0,NaN
1,314426.polaris,0,polaris,2022-08-01 02:21:34,20220801,2022-08-01 02:21:35,20220801,2022-08-01 02:52:28,20220801,3.086128e+13,...,0,0,0,0,0,0,0,0.0,0,NaN
2,314423.polaris,0,polaris,2022-07-31 21:20:58,20220731,2022-07-31 21:20:58,20220731,2022-08-01 03:22:41,20220801,1.844480e+13,...,0,0,0,0,0,0,0,0.0,0,NaN
3,314428.polaris,0,polaris,2022-08-01 02:55:39,20220801,2022-08-01 02:55:39,20220801,2022-08-01 03:25:52,20220801,3.086128e+13,...,0,0,0,0,0,0,0,0.0,0,NaN
4,314429.polaris,0,polaris,2022-08-01 02:58:15,20220801,2022-08-01 02:58:16,20220801,2022-08-01 03:28:33,20220801,5.502965e+13,...,0,0,0,0,0,0,0,0.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502931,3123556.polaris,0,polaris,2024-12-31 23:21:26,20241231,2024-12-31 23:21:33,20241231,2024-12-31 23:23:57,20241231,4.584055e+13,...,0,0,0,0,0,0,0,0.0,0,INCITE
502932,3123561.polaris,0,polaris,2024-12-31 23:27:51,20241231,2024-12-31 23:27:58,20241231,2024-12-31 23:29:57,20241231,3.825906e+13,...,0,0,0,0,0,0,0,0.0,0,Discretionary
502933,3123546.polaris,0,polaris,2024-12-31 22:52:47,20241231,2024-12-31 22:52:53,20241231,2024-12-31 23:53:38,20241231,5.689585e+13,...,0,0,0,0,0,0,0,0.0,0,Discretionary
502934,3123547.polaris,0,polaris,2024-12-31 22:53:42,20241231,2024-12-31 22:53:48,20241231,2024-12-31 23:54:34,20241231,7.120166e+11,...,0,0,0,0,0,0,0,0.0,0,Discretionary
502935,3123548.polaris,0,polaris,2024-12-31 22:55:21,20241231,2024-12-31 22:56:09,20241231,2024-12-31 23:58:01,20241231,7.271131e+13,...,0,0,0,0,0,0,0,0.0,0,Discretionary

# Load Raw (Stacked) Data

In [8]:
# This includes sorting the rows and fixing the data types. 
filename = "Polaris_full_raw_data.csv"
df = data_prep.load_parse_df(filename)
df.head()

/Users/amakaokafor/Desktop/wait_time_analysis/data_prep.py:28: DtypeWarning: Columns (58) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=0)

,JOB_NAME,COBALT_JOBID,MACHINE_NAME,QUEUED_TIMESTAMP,QUEUED_DATE_ID,START_TIMESTAMP,START_DATE_ID,END_TIMESTAMP,END_DATE_ID,USERNAME_GENID,...,IS_SUBBLOCK_ONLY,IS_MULTILOCATION_ONLY,IS_MULTILOCATION_SUBBLOCK,IS_CONSECUTIVE_ONLY,IS_SINGLE_ONLY,IS_NO_TASKS,IS_OTHER,OVERBURN_CORE_HOURS,IS_OVERBURN,ALLOCATION_AWARD_CATEGORY
2,314423.polaris,0,polaris,2022-07-31 21:20:58,20220731,2022-07-31 21:20:58,20220731,2022-08-01 03:22:41,20220801,1.844480e+13,...,0,0,0,0,0,0,0,0.0,0,NaN
0,314424.polaris,0,polaris,2022-08-01 01:04:53,20220801,2022-08-01 01:04:53,20220801,2022-08-01 01:36:01,20220801,3.086128e+13,...,0,0,0,0,0,0,0,0.0,0,NaN
11,314425.polaris,0,polaris,2022-08-01 01:15:09,20220801,2022-08-01 01:15:09,20220801,2022-08-01 13:16:24,20220801,8.252524e+13,...,0,0,0,0,0,0,0,0.0,0,NaN
1,314426.polaris,0,polaris,2022-08-01 02:21:34,20220801,2022-08-01 02:21:35,20220801,2022-08-01 02:52:28,20220801,3.086128e+13,...,0,0,0,0,0,0,0,0.0,0,NaN
7,314427.polaris,0,polaris,2022-08-01 02:33:21,20220801,2022-08-01 02:33:22,20220801,2022-08-01 04:33:54,20220801,9.198275e+13,...,0,0,0,0,0,0,0,0.0,0,NaN

# Feature Engineering

In [10]:
# does feature engineering and saves the new dataset
df_engineered = data_prep.feature_engineering(df, 'Polaris')
df_engineered.head()

Index(['JOB_NAME', 'COBALT_JOBID', 'MACHINE_NAME', 'QUEUED_TIMESTAMP',
       'QUEUED_DATE_ID', 'START_TIMESTAMP', 'START_DATE_ID', 'END_TIMESTAMP',
       'END_DATE_ID', 'USERNAME_GENID', 'PROJECT_NAME_GENID', 'QUEUE_NAME',
       'WALLTIME_SECONDS', 'RUNTIME_SECONDS', 'NODES_USED', 'NODES_REQUESTED',
       'CORES_USED', 'CORES_REQUESTED', 'LOCATION', 'EXIT_STATUS',
       'ELIGIBLE_WAIT_SECONDS', 'ELIGIBLE_WAIT_FACTOR', 'QUEUED_WAIT_SECONDS',
       'QUEUED_WAIT_FACTOR', 'REQUESTED_CORE_HOURS', 'USED_CORE_HOURS',
       'CAPABILITY_USAGE_CORE_HOURS', 'NONCAPABILITY_USAGE_CORE_HOURS',
       'BUCKETS3_A_USAGE_CORE_HOURS', 'BUCKETS3_B_USAGE_CORE_HOURS',
       'BUCKETS3_C_USAGE_CORE_HOURS', 'MACHINE_PARTITION', 'EXIT_CODE', 'MODE',
       'RESID', 'DATA_LOAD_STATUS', 'CAPABILITY', 'SIZE_BUCKETS3',
       'PERCENTILE', 'NUM_TASKS_SUBBLOCK', 'NUM_TASKS_CONSECUTIVE',
       'NUM_TASKS_MULTILOCATION', 'NUM_TASKS_SINGLE', 'COBALT_NUM_TASKS',
       'IS_SINGLE', 'IS_CONSECUTIVE', 'IS_MULTILOCATION', 'IS_SUBBLOCK',
       'IS_SUBBLOCK_ONLY', 'IS_MULTILOCATION_ONLY',
       'IS_MULTILOCATION_SUBBLOCK', 'IS_CONSECUTIVE_ONLY', 'IS_SINGLE_ONLY',
       'IS_NO_TASKS', 'IS_OTHER', 'OVERBURN_CORE_HOURS', 'IS_OVERBURN',
       'ALLOCATION_AWARD_CATEGORY', 'YEAR', 'DAY', 'MONTH', 'DAY_NAME', 'HOUR',
       'RUNTIME_HOURS', 'WALLTIME_HOURS', 'QUEUED_WAIT_HOURS',
       'ELIGIBLE_WAIT_HOURS', 'JOBS_RUNNING', 'JOBS_QUEUED', 'IS_WEEKEND',
       'IS_NIGHT'],
      dtype='object')
(502936, 71)

,JOB_NAME,COBALT_JOBID,MACHINE_NAME,QUEUED_TIMESTAMP,QUEUED_DATE_ID,START_TIMESTAMP,START_DATE_ID,END_TIMESTAMP,END_DATE_ID,USERNAME_GENID,...,DAY_NAME,HOUR,RUNTIME_HOURS,WALLTIME_HOURS,QUEUED_WAIT_HOURS,ELIGIBLE_WAIT_HOURS,JOBS_RUNNING,JOBS_QUEUED,IS_WEEKEND,IS_NIGHT
2,314423.polaris,0,polaris,2022-07-31 21:20:58,20220731,2022-07-31 21:20:58,20220731,2022-08-01 03:22:41,20220801,1.844480e+13,...,Sunday,21,6.028611,6.0,0.000000,0.0,3,-2,True,False
0,314424.polaris,0,polaris,2022-08-01 01:04:53,20220801,2022-08-01 01:04:53,20220801,2022-08-01 01:36:01,20220801,3.086128e+13,...,Monday,1,0.518889,0.5,0.000000,0.0,4,-2,False,True
11,314425.polaris,0,polaris,2022-08-01 01:15:09,20220801,2022-08-01 01:15:09,20220801,2022-08-01 13:16:24,20220801,8.252524e+13,...,Monday,1,12.020833,12.0,0.000000,0.0,5,-2,False,True
1,314426.polaris,0,polaris,2022-08-01 02:21:34,20220801,2022-08-01 02:21:35,20220801,2022-08-01 02:52:28,20220801,3.086128e+13,...,Monday,2,0.514722,0.5,0.000278,0.0,4,-1,False,True
7,314427.polaris,0,polaris,2022-08-01 02:33:21,20220801,2022-08-01 02:33:22,20220801,2022-08-01 04:33:54,20220801,9.198275e+13,...,Monday,2,2.008889,2.0,0.000278,0.0,5,-1,False,True

In [11]:
# If you want to do further exploration - Load the data to make sure we're using the same file as the other notebooks will use. This includes setting dtypes
df_engineered = data_prep.load_parse_engineered_df('Polaris')
df_engineered.head()

/Users/amakaokafor/Desktop/wait_time_analysis/data_prep.py:129: DtypeWarning: Columns (58) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=0, parse_dates=parse_dates, dtype=dtype)

,JOB_NAME,COBALT_JOBID,MACHINE_NAME,QUEUED_TIMESTAMP,QUEUED_DATE_ID,START_TIMESTAMP,START_DATE_ID,END_TIMESTAMP,END_DATE_ID,USERNAME_GENID,...,DAY_NAME,HOUR,RUNTIME_HOURS,WALLTIME_HOURS,QUEUED_WAIT_HOURS,ELIGIBLE_WAIT_HOURS,JOBS_RUNNING,JOBS_QUEUED,IS_WEEKEND,IS_NIGHT
2,314423.polaris,0,polaris,2022-07-31 21:20:58,20220731,2022-07-31 21:20:58,20220731,2022-08-01 03:22:41,20220801,1.844480e+13,...,Sunday,21,6.028611,6.0,0.000000,0.0,3,-2,True,False
0,314424.polaris,0,polaris,2022-08-01 01:04:53,20220801,2022-08-01 01:04:53,20220801,2022-08-01 01:36:01,20220801,3.086128e+13,...,Monday,1,0.518889,0.5,0.000000,0.0,4,-2,False,True
11,314425.polaris,0,polaris,2022-08-01 01:15:09,20220801,2022-08-01 01:15:09,20220801,2022-08-01 13:16:24,20220801,8.252524e+13,...,Monday,1,12.020833,12.0,0.000000,0.0,5,-2,False,True
1,314426.polaris,0,polaris,2022-08-01 02:21:34,20220801,2022-08-01 02:21:35,20220801,2022-08-01 02:52:28,20220801,3.086128e+13,...,Monday,2,0.514722,0.5,0.000278,0.0,4,-1,False,True
7,314427.polaris,0,polaris,2022-08-01 02:33:21,20220801,2022-08-01 02:33:22,20220801,2022-08-01 04:33:54,20220801,9.198275e+13,...,Monday,2,2.008889,2.0,0.000278,0.0,5,-1,False,True